[submodule "github-governance-factory"]
	path = github-governance-factory
	url = https://github.com/frankmax-com/github-governance-factory.git
[submodule "ai-provider-factory"]
	path = ai-provider-factory
	url = https://github.com/frankmax-com/ai-provider-factory.git
[submodule "azure-devops-governance-factory"]
	path = azure-devops-governance-factory
	url = https://github.com/frankmax-com/azure-devops-governance-factory.git
[submodule "database-governance-factory"]
	path = database-governance-factory
	url = https://github.com/frankmax-com/database-governance-factory.git
