[submodule "github-governance-factory"]
	path = github-governance-factory
	url = https://github.com/frankmax-com/github-governance-factory.git
[submodule "ai-provider-factory"]
	path = ai-provider-factory
	url = https://github.com/frankmax-com/ai-provider-factory.git
